.git
.gitignore
.github
.venv
__pycache__
**/__pycache__
*.pyc
.env
.env.*
!.env.example
.DS_Store
data/*.duckdb
data/*.parquet
dagster_home/catalog.db*
dagster_home/storage
dagster_home/history
dagster_home/logs
dagster_home/schedules
README.md
LICENSE
